@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Login Page */

.login-header {
  color: black;
  font-size: 1.5rem; 
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.login-subtext {
  color: gray;
  font-size: 1rem; 
  margin-top: 0;
}

/* Register Page */

.register-header {
  color: black;
  font-size: 1.5rem; 
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.register-subtext {
  color: gray;
  font-size: 1rem; 
  margin-top: 0;
}

/* AuthBox Styles */

.box-wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-image 1s ease-in-out; 
}

.auth-box {
  width: 90%;
  max-width: 700px;
  background-color: #F1F0E9;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.login-bg {
  background-image: url('shared/images/blob-scene-haikei.svg');
}

.register-bg {
  background-image: url('shared/images/blob-scene-haikei (1).svg');
}

/* if mo wants the old login back add this instead of all above
.box-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(100, 72, 255), rgb(0,217,173));
}

.auth-box {
  width: 90%; 
  max-width: 700px; 
  height: auto; 
  background-color: #F1F0E9;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  padding: 2rem; 
} */


@media (max-width: 1200px) {
  .auth-box {
    width: 80%;
    padding: 1.5rem; 
  }

  .login-header, .register-header {
    font-size: 1.25rem; 
  }

  .login-subtext, .register-subtext {
    font-size: 0.875rem; 
  }
}

@media (max-width: 768px) {
  .auth-box {
    width: 90%;
    padding: 1rem; 
  }

  .login-header, .register-header {
    font-size: 1.125rem; 
  }

  .login-subtext, .register-subtext {
    font-size: 0.875rem; 
  }
}

@media (max-width: 480px) {
  .auth-box {
    width: 95%;
    padding: 0.75rem;
  }

  .login-header, .register-header {
    font-size: 1rem;
  }

  .login-subtext, .register-subtext {
    font-size: 0.75rem; 
  }
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(135deg, rgb(100, 72, 255), rgb(0,217,173));
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.navbarContent1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}

.navbarContent2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbarImg {
  height: 50px;
}

.navbarButton {
  padding: 8px 20px;
  background-color: transparent;
  color: #ffffff; 
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
}

.navbarButton::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #00ffd5; 
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navbarButton:hover::after {
  width: 100%;
}

/* First Section */
.firstSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
  margin-top: 70px;
  background-color: #5F8575;
}

.textContainer {
  flex: 1;
  margin-left: 40px;
  color: white;
  font-size: 42px;
}

.image {
  width: 500px;
  height: auto;
  margin-right: 50px;
}

.button {
  padding: 10px 20px;
  background-color: #202225;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 8px;
}

.button_slide {
  color: #FFF;
  border: 2px solid #ffffff;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d4cfcf;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #ffffff;
  color: black;
}


.typing-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white; 
  animation: typing 2.5s steps(14, end), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Second Section */
.secondSection {
  height: 300px;
  background-color: #f4f4f4;
  margin: 20px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 300ms ease-in-out;
  transform: translateZ(-75px);
}

.secondSection:hover {
  transform: rotateX(-90deg) translateY(75px);
}

.side {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.default-side {
  background-color: white;
  border: 10px solid #5F8575;
  color: #5F8575;
  transform: translateZ(75px);
}

.hover-side {
  color: white;
  background-color: #5F8575;
  transform: rotateX(90deg) translateZ(75px);
}

.side h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.side ul {
  list-style: none;
  padding: 0;
  font-size: 1.2em; 
}

.side li {
  font-size: 1em; 
}

.side li::before {
  content: "✔ "; 
  color: #5F8575;
  font-weight: bold;
}

.side p {
  font-size: 1.2em; 
  max-width: 80%;
  line-height: 1.5;
}

/* Third Section */
.thirdSection {
  height: 300px;
  background-color: #f4f4f4;
  margin: 20px 0;
}

/*  Fourth Section */
.fourthSection {
  height: 300px;
  background-color: #f4f4f4;
  margin: 20px 0;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Profile Page */
.button-container {
  position: absolute;
  top: 10px;  
  right: 10px;  
  display: flex;
  flex-direction: column;
}

.middleBox {
  flex-basis: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-top: 2rem;
}

.profileDetails p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.profileDetails strong {
  color: black; 
}

.session-pref {
  margin-top: 1rem;
  font-size: 1rem;
  color: #555;
}

.loading {
  display: block;
  margin: 100px auto;
  width: 100px;
  height: 100px;
  margin-top: 300px;
}

.profileWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  padding: 2rem 20px;
}

.leftSide {
  flex-basis: 25%;
  text-align: center; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.leftSide .userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.leftSide .userInfo h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  color: #333;
}

.leftSide .userInfo p {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin: 1rem 0;
}

.leftSide .userInfo button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.addFriendButton {
  background-color: #4CAF50;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.addFriendButton:hover {
  background-color: #45a049;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addFriendButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pendingButton {
  background-color: #bab7b7;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  border: 0;
  cursor: none;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.pendingButton:hover {
  background-color: #8c918d;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pendingButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.removeFriendButton {
  background-color: #f44336; 
  color: white;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeFriendButton:hover {
  background-color: #e53935;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.removeFriendButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.middleBox h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem;
}

.profileDetails p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.star {
  color: rgb(225, 225, 69); 
}

.loading {
  display: block;
  margin: 100px auto; 
  width: 100px; 
  height: 100px; 
  margin-top: 300px;
}

@media (max-width: 768px) {
  .profileWrapper {
    flex-direction: column;
    align-items: center;
  }

  .leftSide, .middleBox {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }

  .leftSide .userInfo h3 {
    font-size: 1.25rem;
  }

  .middleBox h2 {
    font-size: 1.5rem;
  }
}

.session-pref {
  margin-top: 20px;
  display: flex; 
  gap: 20px; 
  justify-content: center; 
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  margin: 20px;
  background: linear-gradient(135deg, rgb(100, 72, 255), rgb(0,217,173));
}

.preference-box {
  cursor: pointer;
  width: 30%; 
  max-width: 260px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
}

.preference-box p {
  font-size: 1.2em;
  text-align: center;
}

.box {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0 auto;
  padding: 20px;
  height: 120px;
}

.box p {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
}

.box p:last-child {
  font-size: 1.6em;
  color: gray;
  margin-top: -10px;
}

.personalityResults {
  flex-basis: 70%;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-left: 30px;
}

/* Personal Profile */

.bg {
  background: linear-gradient(135deg, rgb(100, 72, 255), rgb(0,217,173));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.info-container {
  max-width: 900px;
  padding: 2rem 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.info-container h2 {
  color: #333;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.info-container p {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.info-container input,
.info-container select {
  width: 100%;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s ease-in-out;
}

.info-container input[type="date"] {
  padding-left: 15px;
}

.info-container input::placeholder,
.info-container select {
  color: #888;
}

.info-container input:focus,
.info-container select:focus {
  border-color: #5F8575;
  outline: none;
}

.info-container button {
  padding: 12px 20px;
  background-color: #5F8575;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.info-container button:hover {
  background-color: #4a6f65;
}

.info-container input[type="date"]::placeholder {
  color: #888; 
}

.info-container .loading {
  width: 50px;
  height: 50px;
}

.info-container input,
.info-container select {
  font-size: 16px;
}

.info-container label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 4px;
  display: block;
}

.editProfileButton {
  background-color: #366fd9;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editProfileButton:hover {
  background-color: #2e5db4;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.editProfileButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.info-container h3 {
  color: #333;
}

.info-container div {
  padding: 1rem;
}

.form-slider-wrapper {
  width: 100%;
  overflow: hidden; 
}

.form-slider {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 200%; 
}

.form-step {
  width: 100%;
  flex-shrink: 0;
  padding: 0 1rem;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.form-buttons button {
  background: linear-gradient(135deg, rgb(100, 72, 255), rgb(0, 217, 173));
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin: 10px;
}

.form-buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  opacity: 0.95;
}

.form-buttons button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.MuiDialog-root {
  background-color: rgba(0, 0, 0, 0.4); 
}

.MuiDialog-paper {
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
}

.MuiDialogTitle-root {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.MuiDialogContent-root {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.MuiTextField-root {
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 15px;
}

.MuiSelect-root {
  padding: 10px;
}

.MuiDialogActions-root {
  justify-content: space-between;
}

.MuiButton-root.MuiButton-outlined {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}

.MuiButton-root.MuiButton-contained {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  &:hover {
    background-color: #0056b3;
  }
}

.MuiDialogActions-root .MuiButton-root {
  min-width: 120px;
}

.submit-profile {
  background: linear-gradient(135deg, rgb(100, 72, 255), rgb(0, 217, 173));
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin: 10px;
}

.submit-profile:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  opacity: 0.95;
}

.submit-profile:active {
  transform: scale(0.98);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .info-container {
    padding: 1rem 15px;
  }

  .info-container h2 {
    font-size: 1.6rem;
  }

  .info-container p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .info-container {
    padding: 1rem 10px;
  }

  .info-container h2 {
    font-size: 1.4rem;
  }

  .info-container p {
    font-size: 0.9rem;
  }

  .info-container button {
    width: 100%;
  }
}

.personalityResults {
  margin-top: 2rem;
}

.personality-item {
  margin-bottom: 1rem;
}
.progress-bar-container {
  position: relative;
  width: 100%;
  height: 10px; 
  background-color: #e0e0e0;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(135deg, rgb(100, 72, 255), rgb(0,217,173));
  border-radius: 5px;
}

.percentage-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
}


.profile-info p {
  margin: 0.5rem 0;
}


/* Explore Page */
.explore-content {
  margin-top: 150px;
  padding: 20px;
  text-align: center;
}

.filter {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #5F8575;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.user-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; 
  height: 100%;
}


.user-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.user-card h3 {
  margin: 10px 0 5px 0;
  font-size: 1.3rem;
  color: #333;
}

.user-card p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.user-info {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}

.addFriendButton2,
.removeFriendButton2,
.pendingButton2 {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2ea33f;
  color: white;
  transition: background-color 0.3s ease;
  margin: 5px;
  width: 120px; 
  height: 50px; 
}

.removeFriendButton2 {
  background-color: #dc3545;
  width: 170px;
}

.pendingButton2 {
  background-color: #6c757d;
  cursor: default;
}

.addFriendButton2:hover {
  background-color: #45a049;
}

.removeFriendButton2:hover {
  background-color: #b80e0e;
}

.loading-text {
  font-size: 1.2rem;
  color: #777;
  margin-top: 20px;
}

.snackbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Personality Test */
.bg-container {
  background: linear-gradient(135deg, rgb(100, 72, 255), rgb(0,217,173));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.test-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.question-container {
  text-align: left;
  margin-bottom: 20px;
}

.question-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.radio-label {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  background: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

.radio-label:hover {
  background: #d0d0d0;
}

.radio-label:active {
  transform: scale(0.95);
}

.radio-label.selected {
  background: #007bff;
  color: white;
  font-weight: bold;
}

.radio-input {
  display: none;
}

.submit-button {
  background: linear-gradient(135deg, rgb(100, 72, 255), rgb(0, 217, 173));
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin: 10px;
}

.submit-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  opacity: 0.95;
}

.submit-button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.results-container {
  margin-top: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Reviews Section */
.reviewsSection {
  margin-top: 20px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.review {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.review:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review p {
  margin: 5px 0;
}

.review strong {
  font-size: 1.1rem;
  color: #333;
}

.review .rating {
  font-size: 1.2rem;
  color: #f69f1c;
  margin-top: 5px;
}

.review-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.4;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.review:last-child {
  border-bottom: none;
}

.leaveReviewButton {
  background-color: #f69f1c;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaveReviewButton:hover {
  background-color: #d38106;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.leaveReviewButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
