@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Login Page */

.login-header {
  color: black;
  font-size: 1.5rem; 
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.login-subtext {
  color: gray;
  font-size: 1rem; 
  margin-top: 0;
}

/* Register Page */

.register-header {
  color: black;
  font-size: 1.5rem; 
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.register-subtext {
  color: gray;
  font-size: 1rem; 
  margin-top: 0;
}

/* AuthBox Styles */

.box-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5F8575;
}

.auth-box {
  width: 90%; 
  max-width: 700px; 
  height: auto; 
  background-color: #F1F0E9;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  padding: 2rem; 
}


@media (max-width: 1200px) {
  .auth-box {
    width: 80%;
    padding: 1.5rem; 
  }

  .login-header, .register-header {
    font-size: 1.25rem; 
  }

  .login-subtext, .register-subtext {
    font-size: 0.875rem; 
  }
}

@media (max-width: 768px) {
  .auth-box {
    width: 90%;
    padding: 1rem; 
  }

  .login-header, .register-header {
    font-size: 1.125rem; 
  }

  .login-subtext, .register-subtext {
    font-size: 0.875rem; 
  }
}

@media (max-width: 480px) {
  .auth-box {
    width: 95%;
    padding: 0.75rem;
  }

  .login-header, .register-header {
    font-size: 1rem;
  }

  .login-subtext, .register-subtext {
    font-size: 0.75rem; 
  }
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5F8575;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarContent1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}

.navbarContent2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbarImg {
  height: 50px;
}

/* Button Styles */
.navbarButton {
  padding: 8px 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
}

.navbarButton::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navbarButton:hover::after {
  width: 100%;
}

/* Section Styles */
.firstSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
  margin-top: 70px;
}

.textContainer {
  flex: 1;
  padding-right: 20px;
}

.image {
  width: 400px;
  height: auto;
}

.button {
  padding: 10px 20px;
  background-color: #202225;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* Empty Section */
.secondSection {
  height: 300px;
  background-color: #f4f4f4;
  margin: 20px 0;
}

/* Third Section */
.thirdSection {
  height: 300px;
  background-color: #f4f4f4;
  margin: 20px 0;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

